.mainBlock{
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding: 0 50px;
}

.mainContentWrapp{
    height: 80%;
    width: 100%;
    display: flex;
}

.mainTextBlock{
    color: white;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.mainTextWrapp{
    border: solid 1px ;
}

.mainPhotoWrapp{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
}

.photo{
    width: 300px;
    height: 300px;
    border: solid 1px grey;
}